---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Beneficios from "../components/Beneficios.astro";
import Cierre from "../components/Cierre.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Proceso from "../components/Proceso.astro";
import Trabajos from "../components/Trabajos.astro";
---

<Layout>
  <h1 class="bg-red-500">Hola mundo!</h1>
</Layout>
